.kangaroo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: #000;
    z-index: 999999;
    overflow: visible;
}

.kangaroo-container img {
    display: block;
    width: auto;
    max-width: inherit;
    position: absolute;
}
